.vscode
.DS_Store

phase1/phase1Config
phase1/*.o
phase1/kernel*
phase1/*.umps

phase2/phase2Config
phase2/*.o
phase2/kernel*
phase2/*.umps

phase3/phase3Config
phase3/*.o
phase3/kernel*
phase3/*.umps

phase4/phase4Config
phase4/*.o
phase4/kernel*
phase4/*.umps

phase5/phase5Config
phase5/*.o
phase5/kernel*
phase5/*.umps

phase6/phase6Config
phase6/*.o
phase6/kernel*
phase6/*.umps

testers/*.umps